<!DOCTYPE html>
{% autoescape true %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>GuestBook bookpage</title>
    </head>
    <body>
        <blockquote><b>Bookname : {{book.name}}</b></blockquote>
        {% for greeting in greetings %}
            <blockquote>{{greeting.content}}
                <form action="/delete_greeting?greeting_id={{greeting.key.id()}}&guestbook_id={{book.key.id()}}" method="post">
                <input type="submit" value="delete"></form>
            </blockquote>
        {% endfor %}
        <hr>
        <form action="/updatebook?guestbook_id={{book.key.id()}}" method="post">
            <form>Guestbook name to update:
                <input value="" name="newbook_name">
                <select name="tag_id">
                    {% for tag in tags %}
                        <option value="{{tag.key.id()}}">{{tag.type}}</option>
                    {% endfor %}
                <input type="submit" value="update book">
            </form>
        </form>
        <hr>
        <form action="/sign?guestbook_id={{book.key.id()}}" method="post">
            <div><textarea name="content" rows="3" cols="60"></textarea></div>
            <div><input type="submit" value="Sign Guestbook"></div>
        </form>
    </body>
</html>
{% endautoescape %}